## EDA With Red Wine Data

Data Set Information:

The two datasets are related to red and white variants of the Portuguese "Vinho Verde" wine.  Due to privacy and logistic issues, only physicochemical (inputs) and sensory (the output) variables are available (e.g. there is no data about grape types, wine brand, wine selling price, etc.).

These datasets can be viewed as classification or regression tasks. The classes are ordered and not balanced (e.g. there are many more normal wines than excellent or poor ones). Outlier detection algorithms could be used to detect the few excellent or poor wines. Also, we are not sure if all input variables are relevant. So it could be interesting to test feature selection methods.


Attribute Information:

Input variables (based on physicochemical tests):
- 1 - fixed acidity
- 2 - volatile acidity
- 3 - citric acid
- 4 - residual sugar
- 5 - chlorides
- 6 - free sulfur dioxide
- 7 - total sulfur dioxide
- 8 - density
- 9 - pH
- 10 - sulphates
- 11 - alcohol

Output variable (based on sensory data):
- 12 - quality (score between 0 and 10)

In [1]:
import pandas as pd
df=pd.read_csv('winequality-red.csv')
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [ ]:
## Summary of the dataset
df.info()

In [ ]:
## descriptive summary of the dataset
df.describe()

In [ ]:
df.shape

In [ ]:
## List down all the columns names
df.columns

In [ ]:
df['quality'].unique()

In [ ]:
## Missing values in the dataset

df.isnull().sum()

In [ ]:
## Duplicate records
df[df.duplicated()]

In [ ]:
## Remove the duplicates
df.drop_duplicates(inplace=True)

In [ ]:
df.shape

In [ ]:
## Correlation
df.corr()

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
plt.figure(figsize=(10,6))
sns.heatmap(df.corr(),annot=True)

In [ ]:
## Visualization
#conclusion- It is an imbalanced dataset
df.quality.value_counts().plot(kind='bar')
plt.xlabel("Wine Quality")
plt.ylabel("Count")
plt.show()

In [ ]:
df.head()

In [ ]:
for column in df.columns:
    sns.histplot(df[column],kde=True)

In [ ]:
sns.histplot(df['alcohol'])

In [ ]:
#univariate,bivariate,multivariate analysis
sns.pairplot(df)

In [ ]:
##categorical Plot
sns.catplot(x='quality', y='alcohol', data=df, kind="box")

In [ ]:
df.head()

In [ ]:
sns.scatterplot(x='alcohol',y='pH',hue='quality',data=df)